<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:red;">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="https://localhost:7137/home">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
