@using PizzaShop.ViewModels;
@model UserCustomPizzaViewModel

<form asp-action="EditPizza" asp-controller="Pizza" asp-route-pizzaId="@Model.PizzaID" method="post" role="form">
    <h3 class="my-5">
        Izmenite naziv ili sastojke na vašoj pici?
    </h3>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.AllowedIngredients)
    @Html.HiddenFor(model => model.PizzaID)
    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="PizzaName" class="form-label"></label>
                <input asp-for="PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Ingredients" class="form-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <p>@Model.AllowedIngredients</p>
            <div class="mt-3">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" class="btn btn-secondary" value="Sacuvaj picu" />
                </div>
            </div>
        </div>
    </div>
</form>