
<div>

    <nav aria-label="breadcrumb" class="my-3 ms-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Početna</li>
            <li class="breadcrumb-item" aria-current="page">Pice</li>
            <li class="breadcrumb-item active" aria-current="page">Sve pice</li>
        </ol>
    </nav>

</div>
<div>
 

</div>