@using PizzaShop.ViewModels;
@model PizzaListViewModel

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4 d-block">
    @foreach (var pizza in Model.Pizzas)
    {
        <h5>@pizza.Name</h5>
    }
</div>