<div>
    <nav aria-label="breadcrumb" class="my-3 ms-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Početna</li>
            <li class="breadcrumb-item active" aria-current="page">Pretplata</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-8">
        <h1 class="mb-0 mt-1">Sada se možete pretplatiti na naše pice.</h1>
        <h1 class="text-muted">Neograničene pice.</h1>
        <button class="btn btn-primary mt-3">Više informacija</button>
        <p class="mt-2">Obezbedite sebi izvanrednu kombinaciju ukusa koja donosi spoj tradicionalnih sastojaka koji oduševljavaju nepce. Istinski spoj srpske tradicije i italijanske picerije, koja zadovoljava apetite i izaziva oduševljenje svih koji je probaju. Odaberite svoju kombinaciju bilo kulena, alvara ili kajmaka i sve to na hrskavoj kori obećava jedinstvenu gastronomsku avanturu i pruža pravi domaćinski užitak.</p>
    </div>
    <div class="col-md-4">
        <img style="max-width:100%" src="~/images/pravljenjePice.jpg" alt="Pravljenje pice"/>
    </div>
</div>
<div class="container history p-3">
   
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-3">
        <div class="col-12 col-mb-6 col-lg-4">
            <div class="card rounded mb-4 text-center">
                <div class="card-header">
                    <h5 class="mb-0">Mesečno</h5>
                </div>
                <div class="card-body">
                    <span class="card-title my-3" style="font-size: 2rem; font-weight:500">3000<span class="text-muted">/mesec</span></span>
                    <p class="card-text mb-0 mt-2">2 pice uključene</p>
                    <p class="card-text mb-0">Poseta našoj pekari</p>
                    <p class="card-text mb-0">Upoznajte se i družite sa Andrejom</p>
                    <p class="card-text mb-0">Napravite sopstvenu picu</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-secondary col-12">Pretplatite se sada</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-mb-6 col-lg-4">
            <div class="card rounded mb-4 shadow-sm">
                <div class="card-header text-center">
                    <h5 class="justify-content-center mb-0">Nedeljno</h5>
                </div>
                <div class="card-body text-center">
                    <span class="card-title" style="font-size: 2rem; font-weight:500">5000<span class="text-muted">/mesec</span></span>
                    <p class="card-text mb-0 mt-2">4 pice uključene</p>
                    <p class="card-text mb-0">Poseta našoj pekari</p>
                    <p class="card-text mb-0">Upoznajte se i družite sa Andrejom</p>
                    <p class="card-text mb-0">Napravite sopstvenu picu</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary col-12">Pretplatite se sada</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-mb-6 col-lg-4">
            <div class="card rounded mb-4 shadow-sm justify-content-between">
                <div class="card-header btn-primary text-center">
                    <h5 class="justify-content-center mb-0">Za celu porodicu</h5>
                </div>
                <div class="card-body text-center mt-1">
                    <span class="card-title" style="font-size: 2rem; font-weight:500">7000<span class="text-muted">/mesec</span></span>
                    <p class="card-text mb-0 mt-2">6 pica uključeno</p>
                    <p class="card-text mb-0">Poseta našoj pekari</p>
                    <p class="card-text mb-0">Upoznajte se i družite sa Andrejom</p>
                    <p class="card-text mb-0">Napravite sopstvenu picu</p>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary col-12">Pretplatite se sada</a>
                </div>
            </div>
        </div>
    </div>
</div>