<div class="mt-3">
    <a asp-action="Production" asp-controller="Pizza">Strana ne postoji</a>
    <a asp-action="TestAction" asp-controller="Home" asp-route-id="1">Custom greska</a>
    <a asp-action="TestAction" asp-controller="Home" asp-route-id="2">Greska 500</a>
</div>