@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-override.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
     <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>

@{
    var user = new User();
    var userCookie = HttpContextAccessor.HttpContext!.Request.Cookies["User"];
    if(userCookie != null)
    {
        user = JsonConvert.DeserializeObject<User>(userCookie!);
    }
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="~/images/pizzaLogo.png" width="30" height="30" class="d-inline-block align-top"
                         alt="IFS Picerija Logo">
                    IFS picerija
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="home" asp-action="index">Početna</a>
                        </li>
                    
                        <vc:category-menu></vc:category-menu>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="Pretplata">
                                Pretplata
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="contact" asp-action="index">Kontakt</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @if (!string.IsNullOrEmpty(user!.UserName))
                        {
                            <li class="nav-item">
                                <a class="nav-item nav-link d-inline d-lg-inline-block" asp-controller="User" asp-action="Profile">@user.UserName</a>
                                <a class="nav-item nav-link d-inline d-lg-inline-block" asp-controller="User" asp-action="Logout">Izloguj se</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-item nav-link d-inline d-lg-inline-block" asp-controller="User" asp-action="Login">Prijavite se</a>
                                <a class="nav-item nav-link d-inline d-lg-inline-block" asp-controller="User" asp-action="Index">Registrujte se</a>
                            </li>
                        }
                    </ul>
                    <vc:shopping-cart-summary></vc:shopping-cart-summary>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PizzaShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
